/****************************
 * Slider layout for Gallery2
 * @author Alan Harder <alan.harder@sun.com>
 * $Revision$ $Date$
 */

div#imagearea {
    position: absolute;
    left: 0; top: 0;
    right: 0;
    bottom: 20px;
    overflow: hidden;
    text-align: center;
}
div#imagearea img {
    display: block;
    margin: auto;
}

div#titlebar {
    position: absolute;
    left: 0; bottom: 0;
    right: 0;
    min-height: 19px;
    text-align: center;
    border-top-width: 1px;
}
div#tools_left { float: left; }
div#tools_left img { margin-right: 1px; display: none; }
div#tools_right { float: right; }
div#tools_right img { margin-left: 1px; display: none; }

div#thumbs {
    overflow: auto;
    white-space: nowrap;
}
div.sliderHoriz {
    width: 100%;
    height: auto;
    clear: both;
    border-top-width: 1px;
}
div.sliderHoriz img {
    display: inline;
    vertical-align: middle;
    margin: 0 2px;
}
div.sliderVert {
    position: absolute;
    left: 0; top: 0;
    width: auto;
    height: 100%;
    text-align: center;
    border-right-width: 1px;
}
div.sliderVert img {
    display: block;
    margin: 2px auto;
}

div#options {
    display: none;
    position: absolute;
    left: 0; top: 0;
    overflow: auto;
    z-index: 1;
    border-width: 2px;
    border-style: ridge;
    background-color: inherit;
    background-color: expression(parentElement.currentStyle.backgroundColor);
}
div#options #gsSidebar {
    border-right-width: 0;
}

body.gallery { overflow: hidden; }
#gallery { margin: 0; padding: 0; border-width: 0; } /*For IE*/
#gsHeader, #gsFooter { display: none; }

