// Adapted from PostNuke's SeaBreeze theme

BODY  {
BACKGROUND: #FFFFFF; 
COLOR: #333333; 
FONT-FAMILY: Verdana, Helvetica, sans-serif; 
MARGIN-TOP: 2; 
MARGIN-LEFT: 2; 
MARGIN-RIGHT: 2; 
MARGIN-BOTTOM: 2;
}

A {
BACKGROUND: none; 
COLOR: #4C5EA8; 
TEXT-DECORATION: none
}

A:active {
BACKGROUND: none; 
COLOR: #CC6600;
TEXT-DECORATION: none
}

A:visited {
BACKGROUND: none; 
COLOR: #4C5EA8; 
TEXT-DECORATION: none
}

A:hover {
BACKGROUND: none; 
COLOR: #CC6600; 
TEXT-DECORATION: none
}

TH {
BACKGROUND: none; 
COLOR: #666666;
FONT: 10pt Verdana, Helvetica, sans-serif;
TEXT-DECORATION: none;
FONT-WEIGHT: bold;
}

TD {
BACKGROUND: none; 
COLOR: #666666;
FONT: 10pt Verdana, Helvetica, sans-serif;
TEXT-DECORATION: none;
}

INPUT {
BACKGROUND : #EBF2FD;
COLOR: #000000;
FONT-SIZE: 10px;
}

INPUT.gallery {
BACKGROUND : #F3F3F3; 
COLOR: #000000; 
BORDER: solid 1px #000000; 
FONT-SIZE: 10pt
}

INPUT.gallery-submit {
BACKGROUND : #F3F3F3; 
COLOR: #000000; 
BORDER: 1px solid #000000; 
FONT-SIZE: 10pt;  
border-collapse: collapse
}

INPUT.gallery-reset {
BACKGROUND : #F3F3F3; 
COLOR: #000000; 
BORDER: 1px solid #000000; 
FONT-SIZE: 10pt;  
border-collapse: collapse
}

TEXTAREA.gallery {
BACKGROUND : #F3F3F3; 
COLOR: #000000; 
BORDER: solid 1px #000000; 
FONT-SIZE: 10pt;  
border-bottom: 1px dashed
}

SELECT.gallery {
BACKGROUND : #F3F3F3; 
COLOR: #000000; 
BORDER: solid 1px #000000; 
FONT-SIZE: 10pt
}

.gallery-success {
COLOR: green
}

.gallery-warning {
COLOR: orange
}

.gallery-error {
COLOR: red
}

.gallery-highlight1 {
BACKGROUND: #AAAAAA
}

.gallery-highlight2 {
BACKGROUND: #F3F3F3
}
