a {
	text-decoration: none;
}
a:link, a:visited {
	color: #ae0000;
}
a:hover {
	color: #fd6704;
}

body {
	background-image: url('images/background.png');
	background-repeat: repeat;
}

p, td, div {
	font-family: Verdana;
	font-size: small;
	text-align: center;
}

.bold {
	font-weight: bold;
	font-size: large;
}

.small {
	font-size: 69%;
}

#box {
	width: 75%;
	border: 1px solid #000000;
	align: center;
	background-color: #ffffff;
	padding: 5px;
	padding-bottom: 20px;
	margin-top: 50px;
}

.navitem {
	margin: 0;
	padding: 0;
#	border-bottom: 1px solid #ffffff;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

.nav_num {
	background-color: #fd6704;
	border-bottom: 1px solid #fd6704;
	margin: 0px;
	padding: 2px;
	font-weight: bold;
	font-size: x-small;
}

.nav_arrow {
	border-bottom: 1px solid #ffffff;
	margin: 0px;
	padding: 2px;
	font-size: x-small;
	float: left;
}

.nav_text {
	border-bottom: 1px solid #fd6704;
	margin: 0px;
	padding: 2px;
	font-size: x-small;
}
