/*
	Veloria Theme
	Gallery 2
	theme.css
	by Chris Smith

        derived quite extensively from "Matrix" by A. Reyman, Jon Huang and Chad Kiefer

        This css file defines all aspects of the Gallery layout.
	
	TO DO:
	1. Remove span definition's after spans are removed from .tpl markup
	2. Look for layout tags and move to layout.css

*/

/* background: #006666  */
/* content:    #A35200  */ 
/* banners:    #FFCC66  */
/* breadcrumb: #A3A300  */
/* border:     #000000  */


/*      Standard CSS definitions */

body {
        padding-right: 8px;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	background-color: #006666
}

/*      font-size using ems
	assumes browser is set to Medium Size or 16px

	62.5% = 10px

	2em     = 20px
	1.5em   = 15px
	1.3em   = 13px
	1em	= 10px
	0.8em   = 8px
	
	BEWARE OF NESTED EMS!!!
*/

/*	GALLERY
	Category 1: Gallery		
	declare Gallery Module Borders, etc
*/

#gallery { 
  border: 4px solid #000000;
}


/*      SECTIONS
	Category 2: section definitions
	declare section styles		   
*/

#gsHeader { 
	display: block; 
	width: 100%;
  background-color: #A3A300;
}

#gsHeader:before {
  /*content: "<img src='../images/banner.gif'>"*/
  content: url('../images/banner.gif');
}

#gsFooter {
	font-size: 0.9em;
	color: #bbb;
	margin: 0;
	padding: 8px;
  border-top: 4px solid #000000;
  background-color: #A3A300;
}

#gsSidebar, #gsAdminSidebar {
        float: left;
	/*width: 156px;*/
	width: 20%;
	background-color: #FFCC66;
}

#gsContents {
    width: 100%;
	margin: 0;
	padding: 0;
  border-top: 4px solid #000000;
  background-color: #000000;
}

#gsContents:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

/* Hides from IE-mac \*/
* html .#gsContents { height: 1%; }
/* End hide from IE-mac */

#gsAlbumContents, #gsAdminContents {
        float: left;
        border-left: 4px solid #000000;
        width: 78%;
        padding: 0;
  background-color: #eee;    
}

/*
* html #gsAlbumContents { overflow: auto; }
*/ /* style for IE */

.gbExif {
        padding: 8px 14px;
}

/*      .gbDataTable	*/
/*      count from 0 Ñ first row is even...     */

.gbEven { background-color: #fff; }
.gbOdd { background-color: #eee; }

.gbExif .gbEven { text-align: right; }
.gbExif .gbOdd {
        text-align: left;
        font-weight: normal;
}

table.gbDataTable tr td {
        border-bottom: 1px solid #eee;
        font-weight: bold;
        padding: 4px;
}

#gsComments {
        clear: both;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 8px 14px;
}

#gsSearchContents { }

#gsSearchContents .gbItemImage { clear: left; }

#gsStatus {
	margin: 0 0 0 0;
	padding: 8px;
	text-align: left;
}

#gsItemImages {
	display: block;
	clear: both;
}

#gsAlbumImages {
	display: block;
	clear: both;
}


/*      BOXES
	Category 3: box definitions			   
	This also includes Category 4: items that are defined 
	with respect to sections.
*/

.gbDataEntry { margin: 6px 0; }


/*	tabs for admin pages	*/
.gbTabBar {
	background: #eee url('../images/tab_bg.jpg') repeat-x bottom;
	font-size: 0.9em;
	line-height: normal;
	float: left;
	width: 100%;
	margin-bottom: 8px;
}

.gbTabBar ul {
	margin: 0;
	padding: 10px 10px 0 0;
	list-style: none;
}

.gbTabBar li {
	background: url('../images/tab_left.jpg') no-repeat left top;
	margin: 0;
	padding: 0 0 0 8px;
	list-style: none;
	float: left;
}

.gbTabBar a, .gbTabBar span {
	background: url('../images/tab_right.jpg') no-repeat right top;
	padding: 6px 12px 4px 4px;
	text-decoration: none;
	font-weight: bold;
	color: #777;
	display: block;
	float: left;
}

/* commented Backslash Hack hides rule from IE5-Mac \*/
.gbTabBar a { float: none; }
/* End IE5-Mac hack */

.gbTabBar a:hover { color: #333; }
.gbTabBar .giSelectedTab { background-image: url('../images/tab_left_on.jpg'); }

.gbTabBar .giSelectedTab a, .gbTabBar .giSelectedTab span {
	background-image: url('../images/tab_right_on.jpg');
	color: #333;
	padding-bottom: 5px;
}

/*      first and default module settings */

.gbMenu { 
	border-bottom: 1px solid #000000;
        margin: 16px 0 0 8px;
	padding: 0 0 16px 0;
}

/*      subsequent menu modules can have different settings */
.gbMenu + .gbMenu { 
	margin-top: 0;
	padding-top: 12px;
}

/*	icons for admin menu	*/
.gbMenu li {
	padding: 6px 0 0 0;
	font-size: 1.0em;
}

.gbMenu ul, .gbMenu ol {
        list-style-type: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

/*	not implemented yet	 
.gbMenu ul {  }
.gbMenu li.comments:before { content: url('../images/icon_comments.jpg'); }
.gbMenu li.general:before { content: url('../images/icon_general.jpg'); }
.gbMenu li.users:before { content: url('../images/icon_users.jpg'); }
.gbMenu li.groups:before { content: url('../images/icon_groups.jpg'); }
.gbMenu li.modules:before { content: url('../images/icon_modules.jpg'); }
.gbMenu li.layouts:before { content: url('../images/icon_layouts.jpg'); }
.gbMenu li.debug:before { content: url('../images/icon_debug.jpg'); } */

.gbMenu:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

/* Hides from IE-mac \*/
* html .gbMenu { height: 1%; }
/* End hide from IE-mac */

/*	text inside the title bar */
.giTitle {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 8px 0 0;
	padding: 0;
}

/*      horizontal history links - 'trail of breadcrumbs' */
.gbBreadCrumb { 
	margin: 0;
	padding: 2px 8px; 
  border-top: 4px solid #000000;
  background-color: #A35200;
}
.gbBreadCrumb li { 
	display: inline;
	list-style-type: decimal;
	padding: 0 0;
}

/*      horizontal link divider */
#gsHeader .gbBreadCrumb span + span:before { content: '\00BB \ '; }
.gbBreadCrumb li + li:before { content: '\00BB \ '; }

/* inside gsAlbumContents or gsAdmiinContents */

.gbTopFlag, .gbBottomFlag {
	background-color: #ddd;
	margin: 0;
	padding: 0;
}

.gbTopFlag:after, .gbBottomFlag:after {
	content: "."; 
	display: block;
	height: 0; 
	clear: both; 
        visibility: hidden;
}

/* Hides from IE-mac \*/
* html .gbTopFlag { height: 1%; }
* html .gbBottomFlag { height: 1%; }
/* End hide from IE-mac */

.gbNavBar {
        background-color: #e7e7e7;
        margin: 0;
        padding: 0 4px;
}

.gbNavBar:after {
	content: "."; 
	display: block;
	height: 0; 
	clear: both; 
        visibility: hidden;
}

/* Hides from IE-mac \*/
* html .gbNavBar { height: 2em; }
/* End hide from IE-mac */


table.gbTitleBanner {
	margin: 0 0 0 14px;
	padding: 0;
}

table.gbTitleBanner tr td {
        width: 33%;      
	vertical-align: top;
}

.gbTitleBanner { margin: 8px 0; }

.gbTitle {
	margin: 8px 0;
        padding: 14px;
}

#gbThumbMatrix { 
  border-collapse: collapse;
}

td.gbItemAlbum,
td.gbItemImage, 
td.gbItemMovie, 
td.gbItemOther {
        width: 20%;
        vertical-align: top;
        padding: 14px;
}

td.gbItemAlbum {
	background-color: #eee;        
}

.gsSingleImage {
	margin: 16px;
}

/*	  #gsComments	 */

.gbComment {
	border-bottom: 1px dotted #ddd;
        margin: 0;	
	padding: 8px 0 8px 0;

}

.gbComment span {
        font-size: 0.9em;
        color: #bbb;
}

.gbComment p {
        margin: 6px 0;
}

/*	  #gsFooter  */

#gsFooter .gbMiniBanner { 
	float: left; 
	margin-right: 8px;
}

/*	  #gsSidebar  */
#gsSidebar div { }

#gsSidebar .giThumbImage { margin: 4px 0; }

/*	  #gsSearchContents  */

/*	  small grey border around all the thumbnails */
#gsSearchContents .giThumbImage, 
#gsSearchContents .giThumbMovie, 
#gsSearchContents .giThumbOther { border: 0px solid #ccc; }

/*	  override the normal title clear so as to wrap information
 on the right of the thumbnail */

#gsSearchContents .gbItemImage .giTitle {
	border-width: 0;
	margin: 0;
	padding: 0;
}

#gsSearchContents .gbItemImage img { border: none; }

/*	  #gsAdminContents	*/

#gsAdminContents .gbAdmin, .gbButtons {
	border-bottom: 1px solid #bbb;
	background-color: #fff;
	clear: both;
	float: left;
	width: 97%;
	margin: 0;
	padding: 8px 14px;
}

.gbButtons { background-color: #eee; }

/*      for tabular data */
#gsAdminContents .gbDataTable {
	border-width: 0;
	font-size: 1.0em;
	margin: 4px;
}


/*      Status section  */

/*      Error inside a gsStatus section */

#gsStatus {
	padding: 4px;
	margin: 4px 0;
}

#gsStatus .giError, #gsStatus .giWarning, #gsStatus .giStatus  {
	font-weight: bold;
	font-size: 1.3em;
}

#gsStatus .giError {
	color: #AA4444;
}

/*      Warning inside a gsStatus section */

#gsStatus .giWarning {
	color: #DDDD77;
}

/*      Status inside a gsStatus section */

#gsStatus .giStatus {
	color: #44AA44;
}

/*      ITEMS
	Category 4: item and span definitions		 
	declares styles for items that are defined globally or  
	with respect to boxes. items defined uniquely per	   
	section are in the BOXES part of this file.		 
*/

/*      Global / Defaults */

.giMarkupBar input {
	font-size: 1.1em;
	margin: 0;
	padding: 0;
}

.giTitle {
	color: #000;
	font-weight: bold;
	font-size: 1.3em; 
	margin: 0;
}
.giDescription {
	display: block;
	font-size: 1.1em;
	margin: 0;
	padding: 2px;
}

.giInfo {
	display: block;
	font-size: 0.9em;
	color: #888;
	margin: 0;
	padding: 2px;
	list-style: none;
}

.giInfo li {
    margin: 0;
    padding: 0;
}

/*      horizontal link styles page navigations */
.giHorizontalLinks {
	font-size: 0.9em;
	padding: 2px 4px;
}

.gbNavBar .giHorizontalLinks {
        float: right;
}

.giHorizontalLinks li { 
	display: inline;
	list-style-type: none;
	padding: 0;
 }
 
.giHorizontalLinks a { text-decoration: none; }

.gbExif .giHorizontalLinks, .gbExif li, .gbComment .giHorizontalLinks, .gbComment li {
        color: #888;
        margin: 4px 0;
        padding: 0 2px 0 0;
}


/*  thumbnails */
.giThumbImage, .giThumbMovie, .giThumbOther {
	border: 0;
	margin: 0 0 12px 0;
}

.giThumbImage img, .gsSingleImage img { 
	border: 8px solid #fff;
}

.giActionSelect {
	display: block;
	margin-top: 4px;
	font-size: 1.0em; 
	background: #eee;
}


/*      .giThumbBorder {}
...giBorders...
discused the options of generating a table-based border (ie_test) and alistapart.com http://www.alistapart.com/articles/customcorners/ method. Defer until completion of initial theme.
*/

.giPageNumber {
	font-size: 0.9em;
	padding: 8px;
}

.giSelected {
	font-weight: bold;
	list-style-type: none;
}

/*	  Form elements */

.giFormButton, .giFormInput {
	margin-top: 4px;
	margin-bottom: 4px;
}

.giFormCheckbox {
	margin: 4px;
	vertical-align: middle;
}

.gbForm,
.giFormTextarea,
.giFormRadio,
.giFormSelect,
.giFormFile,
.giFormText { }

/* Status class local error, warning and success */

.giError {
	color: #AA4444;
	font-weight: bold;
	clear: both;
}

.giWarning {
	color: #CC5500;
	font-weight: bold;
	clear: both;
}

.giSuccess {
	color: #55CC00;
	font-weight: bold;
	clear: both;
}

/*	  .gbTopFlag   */

.gbTopFlag {
	color: #000;
	font-weight: bold;
	font-size: 1.3em; 
	margin: 0;
}

/*	  .gbBottomFlag   */

.gbBottomFlag .giHorizontalLinks {
	font-size: 0.9em;
	padding: 0 4px;
}

/*	  .gbDataEntry */

.gbDataEntry .giFormButton {
	font-size: 1.0em;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

/*   Search page and form styles   */

#SearchSystemContent { font-size: 1.1em; }

.gbMenu .button,
#gsSearchContents .button  { 
    padding: 1px 3px; 
    color: #333; 
    background:#eee; 
    border: 2px solid #eee; 
    border-right: 2px solid #666; 
    border-bottom: 2px solid #666; 
    text-decoration: none; 
}

#SearchSystemContent a.button:hover { color: #fff; background: #666; }

#SearchSystemContent input, .gbDataEntry input { 
    padding: 2px; 
    border:1px solid #ccc; 
    color: #666;
    background:#eee;
}

#SearchSystemContent input { font-size: 1.0em; }

#gsSearchContents .gbTopFlag { padding: 12px; }

#gsSearchContents .gbAdmin { margin: 12px; }

#gsSearchContents .searchHighlight { 
    font-weight: bold;
    background: #ff6;
}
