body {
    margin: 0 !important;
    padding: 0 !important;
}
table, tr, td {
    margin: 0;
    padding: 0;
    border-spacing: 0 !important;
}
img {
    border-width: 0 !important;
}
img.off {
    position: absolute;
    visibility: hidden;
    left: 0;
}
img.hid {
    visibility: hidden;
}
div#gsContents {
    position: absolute;
    top: 0;
    left: 150px;
    right: 0;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    border-width: 0 !important;
    width: auto !important;
}
div#album_titlebar {
    overflow: hidden;
    border-bottom-width: 1px !important;
    text-align: left;
}
div#album_titlebar table {
    width: 90%;
}
div#album_titlebar td {
    vertical-align: top;
}
div#album_tools {
    float: left;
    margin-right: 3px;
}
div#album_tools img.on {
    margin-right: 1px;
}
div#gsAlbumContents {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: #ddd !important;
    border: none !important;
    overflow: auto;
}
div#gsContents table.content {
    margin: 3px 0 1px 3px;
}
div#gsContents table.text {
    width: 100%;
}
div#gsContents td.i {
  vertical-align:top;
  padding:0 5px 3px 0;
}
div#gsContents td.t {
  vertical-align:top;
  width:40%;
}
div#gsContents td.t img {
  margin-left:1px;
}
div#gsContents td.t span.title {
    display:block;
    margin-right:6px;
    padding:0 1px 0 2px;
}
div#gsContents td.t span.text {
    margin-right:6px;
    padding:0 1px 0 2px;
}
div#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0 !important;
    overflow: auto;
    border-right-width: 1px;
}
div#image {
    position: absolute;
    top: 0;
    bottom: 10px;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
div#toolbar {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    border-top-width: 1px !important;
}
div#tools_left {
    float: left;
}
div#tools_left img.on {
    margin-right: 1px;
}
div#title {
    height: 19px;
    overflow: hidden;
    text-align: center;
}
div#tools_right {
    float: right;
}
div#tools_right img.on {
    margin-left: 1px;
}
div#text {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 99px;
    overflow: hidden;
    border-top-width: 1px !important;
    text-align: center;
}
iframe#popup {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 80%;
    border-width: 0 5px 5px !important;
}
div#popup_titlebar {
    position: absolute;
    left: 15%;
    width: 70%;
    bottom: 90%;
    border-width: 5px 5px 2px !important;
}
div#popup_menu {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 200px;
    padding: 1px 11px 3px 2px;
    border-width: 3px !important;
}

div#album_titlebar { 
    background-color: #bbb;
    border-bottom-style: solid !important;
    border-bottom-color: black !important;
}
div#gsContents td.i {
    text-align: center;
}
div#gsContents td.t span.title {
    background-color: #bbb !important;
}
div#sidebar { 
    background-color: white;
    border-right-style: solid;
    border-right-color: black;
}
div#image {
    background-color: #bbb !important;
}
div#toolbar {
    background-color: #ddd;
    border-top-style: solid !important;
    border-top-color: black !important;
}
div#text {
    background-color: #bbb !important;
    border-top-style: solid !important;
    border-top-color: black !important;
}
iframe#popup {
    background-color: white !important;
    border-style: ridge !important;
    border-color: #666 !important;
}
div#popup_titlebar {
    background-color: #ddd !important;
    border-style: ridge ridge solid !important;
    border-color: #666 !important;
    text-align: center;
}
div#popup_menu {
    background-color: white !important;
    font-size: 90%;
    line-height: 1.33;
    text-align: left;
    border-style: outset !important;
    border-color: #999 !important;
}

#gsFooter {
    display: none;
}
#gsSidebar {
    float: none !important;
    border-right-width: 0 !important;
}
.gbMenu {
    margin: 3px 0 0 4px !important;
    padding: 0 0 5px 0 !important;
}
.gbMenu ul, .gbMenu ol {
    margin: 0 0 0 1px !important;
    padding: 0 !important;
}
.gbMenu li {
    padding: 0 0 2px 0 !important;
}
.gbMenu ul ul {
    margin: 0 0 0.25em 0.6em !important;
}
.gbMenu h3 {
    margin: 0 !important;
    padding: 3px 0 5px 0 !important;
}
.gbMenu select {
    font-size: 90%;
}
#SearchSystemContent input {
    margin-top: 6px;
    padding: 0 2px 0 2px;
    font-size: 90%;
}

