body {
    margin: 0px;
    padding: 0px;
}
table, tr, td {
    margin: 0px;
    padding: 0px;
    border-spacing: 0px !important;
}
img {
    border-width: 0px !important;
}
img.off {
    position: absolute;
    visibility: hidden;
    left: 0px;
}
img.hid {
    visibility: hidden;
}
div#gsContents {
    position: absolute;
    top: 0px;
    left: 150px;
    right: 0px;
    height: 100%;
    margin: 0px !important;
    padding: 0px !important;
}
div#album_titlebar {
    overflow: hidden;
    border-bottom-width: 1px !important;
    text-align: left;
}
div#album_titlebar table {
    width: 90%;
}
div#album_titlebar td {
    vertical-align: top;
}
div#album_tools {
    float: left;
    margin-right: 3px;
}
div#album_tools img.on {
    margin-right: 1px;
}
div#gsAlbumContents {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    bottom: 0px;
    background-color: #ddd !important;
    border-width:0px !important;
    overflow: auto;
}
div#gsContents table.content {
    margin: 3px 0px 1px 3px;
}
div#gsContents table.text {
    width: 100%;
}
div#gsContents td.i {
  vertical-align:top;
  padding:0px 5px 3px 0px;
}
div#gsContents td.t {
  vertical-align:top;
  width:40%;
}
div#gsContents td.t img {
  margin-left:1px;
}
div#gsContents td.t span.title {
    display:block;
    margin-right:6px;
    padding:0px 1px 0px 2px;
}
div#gsContents td.t span.text {
    margin-right:6px;
    padding:0px 1px 0px 2px;
}
div#sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    padding: 0px !important;
    overflow: auto;
    border-right-width: 1px;
}
div#image {
    position: absolute;
    top: 0px;
    bottom: 10px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
div#toolbar {
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 0px;
    border-top-width: 1px !important;
}
div#tools_left {
    float: left;
}
div#tools_left img.on {
    margin-right: 1px;
}
div#title {
    height: 19px;
    overflow: hidden;
    text-align: center;
}
div#tools_right {
    float: right;
}
div#tools_right img.on {
    margin-left: 1px;
}
div#text {
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 99px;
    overflow: hidden;
    border-top-width: 1px !important;
    text-align: center;
}
iframe#popup {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 80%;
    border-width: 0px 5px 5px !important;
}
div#popup_titlebar {
    position: absolute;
    left: 15%;
    width: 70%;
    bottom: 90%;
    border-width: 5px 5px 2px !important;
}
div#popup_menu {
    position: absolute;
    visibility: hidden;
    top: 0px;
    left: 200px;
    padding: 1px 11px 3px 2px;
    border-width: 3px !important;
}

div#album_titlebar { 
    background-color: #bbb;
    border-bottom-style: solid !important;
    border-bottom-color: black !important;
}
div#gsContents td.i {
    text-align: center;
}
div#gsContents td.t span.title {
    background-color: #bbb !important;
}
div#sidebar { 
    background-color: white;
    border-right-style: solid;
    border-right-color: black;
}
div#image {
    background-color: #bbb !important;
}
div#toolbar {
    background-color: #ddd;
    border-top-style: solid !important;
    border-top-color: black !important;
}
div#text {
    background-color: #bbb !important;
    border-top-style: solid !important;
    border-top-color: black !important;
}
iframe#popup {
    background-color: white !important;
    border-style: ridge !important;
    border-color: #666 !important;
}
div#popup_titlebar {
    background-color: #ddd !important;
    border-style: ridge ridge solid !important;
    border-color: #666 !important;
    text-align: center;
}
div#popup_menu {
    background-color: white !important;
    font-size: 90%;
    line-height: 1.33;
    text-align: left;
    border-style: outset !important;
    border-color: #999 !important;
}

/*
#gsSidebar {
    width: 180px;
    border-right: 0px !important;
}
#gsSidebar .giThumbImage {
    margin: 4px 0;
}
.gbMenu {
    margin: 16px 0 0 8px;
	padding: 0 0 16px 0;
}
.gbMenu li {
	padding: 6px 0 0 0;
}
.gbMenu ul, .gbMenu ol {
	margin: 0;
	padding: 0;
}
.gbMenu ul ul {
	margin: 0 0 0.5em 1.0em;
}
*/
#gsFooter {
    /*bottom: 0px;*/
    margin: 0 15px 0 0;
	padding: 8px;
}
