body { margin:0px; padding:0px; text-align:center }
table,tr,td { margin:0px; padding:0px; border-spacing:0px }
img.thumb { border:0px }
img.off { position:absolute; visibility:hidden; left:0px }
img.hid { visibility:hidden }
div#album { position:absolute; top:0px; right:0px; width:0px;
            background-color:#ddd }
div#album_titlebar { overflow:hidden; background-color:#bbb; font-weight:bold;
                     border-bottom:1px solid black }
div#album_details { font-weight:normal }
div#album_tools { float:left; height:100% }
div#album_content { width:100%; height:0px; overflow:auto }
div#album table.content { margin:3px 0px 1px 3px }
div#album table.text { width:100% }
div#album td.i { text-align:center; padding:0px 5px 3px 0px;
                 vertical-align:top }
div#album td.t { vertical-align:top; width:45% }
div#album td.t img { margin-left:1px }
div#album td.t span.title { font-weight:bold; background-color:#bbb;
               padding:0px 1px 0px 2px; margin-right:6px; display:block }
div#album td.t span.text { padding:0px 1px 0px 2px; margin-right:6px;
                           font-size:90% }
div#sidebar { position:absolute; top:0px; left:0px; height:100%;
              padding-right:18px; overflow:auto;
              border-right:1px solid black; background-color:white }
div#sidebar_min { position:absolute; top:0px; left:0px }
div#image { position:absolute; top:0px; left:0px; width:100%; height:100%;
            overflow:hidden; background-color:#bbb }
div#toolbar { position:absolute; bottom:0px; left:0px; width:100%;
              background-color:#ddd; border-top:1px solid black }
div#tools_left { float:left }
div#tools_left img.on, div#album_tools img.on { margin-right:1px }
div#title { height:19px; overflow:hidden; font-weight:bold }
div#tools_right { float:right }
div#tools_right img.on { margin-left:1px }
div#text { position:absolute; bottom:0px; left:0px; width:100%; height:99px;
           overflow:hidden; background-color:#bbb; border-top:1px solid black }
iframe#popup { position:absolute; top:10%; left:15%; width:70%; height:80%;
               background-color:#bbb; border:5px ridge #666;
               border-top-width:0px }
div#popup_titlebar { position:absolute; bottom:90%; left:15%; width:70%;
                     border:5px ridge #666; border-bottom:2px solid #666;
                     background-color:#ddd }
div#popup_menu { position:absolute; visibility:hidden; top:0px;
    padding:1px 11px 3px 2px; line-height:1.33; font-size:63%;
    text-align:left; background-color:white; border:3px outset #999 }
