    <h1><?php print _('Admin User Setup') ?></h1>
    <p>
      <?php print _("Every Gallery will have at least one administrator user who has full access to view/modify everything. Please choose a username and password for your main administrator account. You can add additional users later.") ?>
    </p>

    <form method="post" action="">
      <table class="adminForm">
	<tr>
	  <td>
	    <?php print _('Admin username') ?><span class="error">*</span>
	  </td>
	  <td>
	    <input type="text" name="fakeuname" value="admin" disabled="disabled"/>
	    <input type="hidden" name="action" value="create"/>
	  </td>
	</tr>
	<tr>
	  <td>
	    <?php print _('Password') ?>
	  </td>
	  <td>
	    <input name="passwordA" type="password"
	     value="<?php print $templateData['passwordA']?>" />
	  </td>
	</tr>
	<?php if (isset($templateData['error']['passwordA_missing'])): ?>
	<tr>
	  <td colspan="2" class="error">
	    <?php print _('Please enter a password'); ?>
	  </td>
	</tr>
	<?php endif; ?>
	<tr>
	  <td>
	    <?php print _('(type again)') ?>
	  </td>
	  <td>
	    <input name="passwordB" type="password"
	     value="<?php print $templateData['passwordB']?>" />
	  </td>
	</tr>
      </table>
      <?php if (isset($templateData['error']['passwordB_missing'])): ?>
      <p class="error">
	<?php print _('Missing password!  Please enter the same password twice'); ?>
      </p>
      <?php endif; ?>

      <?php if (isset($templateData['error']['password_mismatch'])): ?>
      <p class="error">
	<?php print _('The passwords you entered do not match!  Please try again.'); ?>
      </p>
      <?php endif; ?>
    </form>

    <p><span class="error">*</span> <?php print _("For the Beta version, the default username ('admin') cannot be modified in the installer. You can change the name later on via the user administration page in your Gallery.") ?></p>

    <div class="go">
      <span class="goToNext">
	<a href="javascript:document.forms[0].submit();"><?php print _('Create') ?></a>
      </span>
    </div>
