    <h2>Database Setup</h2>

    <p> <?php print _("Please choose a username and password for your administrator account. You can change the name and password later, as well as add additional administrator users.") ?> </p>

    <form name="database_form" method="post">
      <table>
	<tr>
	  <td style="text-align: left;">
	    <?php print _('Database type:') ?>
	  </td>

	  <td style="text-align: left;">
	    <select name="type">
	      <?php foreach ($templateData['dbList'] as $key => $value): ?>
	      <option value="<?php print $key ?>"
		<?php if (!empty($templateData['dbSelected'][$key])): ?>
		selected="selected"
		<?php endif; ?>
		><?php print $value ?></option>
	      <?php endforeach; ?>
	    </select>
	  </td>
	</tr>

	<tr>
	  <td style="text-align: left;"><?php print _('DB Hostname:') ?></td>
	  <td style="text-align: left;">
	    <input name="hostname" type="text" 
	      value="<?php print $templateData['config']['hostname'] ?>" />
	    <input type="hidden" name="action" value="save"/>
	  </td>
	</tr>
	<tr>
	  <td style="text-align: left;"><?php print _('DB Username:') ?></td>
	  <td style="text-align: left;">
	    <input name="username" type="text" 
	      value="<?php print $templateData['config']['username'] ?>" />
	  </td>
	</tr>
	<tr>
	  <td style="text-align: left;"><?php print _('DB Password:') ?></td>
	  <td style="text-align: left;">
	    <input name="password" type="text" 
	      value="<?php print $templateData['config']['password'] ?>" />
	  </td>
	</tr>
	<tr>
	  <td style="text-align: left;"><?php print _('DB Name:') ?></td>
	  <td style="text-align: left;">
	    <input name="database" type="text" 
	      value="<?php print $templateData['config']['database'] ?>" />
	  </td>
	</tr>
	<tr>
	  <td style="text-align: left;"><?php print _('Table Prefix:') ?></td>
	  <td style="text-align: left;">
	    <input name="tablePrefix" type="text" 
	      value="<?php print $templateData['config']['tablePrefix'] ?>" />
	  </td>
	</tr>
	<tr>
	  <td style="text-align: left;"><?php print _('Column Prefix:') ?></td>
	  <td style="text-align: left;">
	    <input name="columnPrefix" type="text" 
	      value="<?php print $templateData['config']['columnPrefix'] ?>" />
	  </td>
	</tr>
      </table>
    </form>

    <div class="go">
      <span class="goToNext"><a href="javascript:document.database_form.submit()"><?php print _('Save') ?></a></span>
    </div>

