<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title> <?php print _('Welcome to the Gallery Installer') ?> </title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
  </head>

  <body>
    <div id="box">
      <div id="header">
	<img src="images/g2Logo_install_head.png" />
      </div>
      <div id="navbar">
	<h2> <?php print _('Install Steps') ?> </h2>
	<ol>
	  <?php for ($i = 0; $i < sizeof($steps); $i++): ?>
	  <li class="navitem">
	    <span class="nav_num">
	      <?php if ($i > 0): ?> 
	      <?php print $i?>
	      <?php endif; ?>
	    </span>

	    <span class="nav_text">
	      <?php if ($i == 0 || $steps[$i-1]->isComplete()): ?>
	      <a href="?step=<?php echo $i?>">
		<?php endif; ?>
		<?php print $steps[$i]->stepName(); ?>
		<?php if ($i == 0 || $steps[$i-1]->isComplete()): ?>
	      </a>
	      <?php endif; ?>
	    </span>

	    <?php if ($steps[$i]->isComplete()): ?>
	    <span class="success">&radic;</span>
	    <?php endif; ?>

	    <?php if ($steps[$i]->isInError()): ?>
	    <span class="error">&#10007;</span>
	    <?php endif; ?>

	  </li>
	  <?php endfor; ?>
	</ol>
	<p>
	  <span class="help">?</span>
	  <a href="../README.html" target="_blank">Installer Help</a>
	</p>
	<p>
	  <span class="help">X</span>
	  <a href="?startOver=1">Start Over</a>
	</p>
      </div>

      <div id="main">
	<?php if (!empty($templateData['errors'])): ?>
	<h2 class="error">
	  <?php foreach ($templateData['errors'] as $error): ?>
	  <?php print $error ?> <br />
	  <?php endforeach; ?>
	</h2>
	<?php endif; ?>
	
	<?php if (!empty($templateData['warnings'])): ?>
	<h2 class="warning">
	  <?php foreach ($templateData['warnings'] as $warning): ?>
	  <?php print $warning ?> <br />
	  <?php endforeach; ?>
	</h2>
	<?php endif; ?>

	<?php include($templateData['bodyFile']); ?>

	<?php if ($currentStep->isComplete() && !$currentStep->isLastStep()): ?>
	<div class="go">
	  <?php $nextStep = $stepNumber + 1 ?>
	  <span class="goToNext">
	    <a href="index.php?step=<?php echo $nextStep?>">
	      <?php printf(_('Go to Step %d&raquo;'), $nextStep); ?>
	    </a>
	  </span>
	</div>
	<?php endif; ?>
      </div>

      <div id="bottom">
	<table class="statusTable">
	  <tr>
	    <td colspan="2">
	      <h4><?php print _('Installation Status'); ?></h4>
	    </td>
	  </tr>

	  <tr>
	    <?php $progressBarColor = ($templateData['percentComplete'] >= 100) ? '#fd6704' : '#fd6704'; ?> 
	    <?php if ($templateData['percentComplete'] != 0): ?>
	    <td width="<?php echo $templateData['percentComplete'] ?>%" 
	      align="center" 
	      bgcolor="<?php print $progressBarColor; ?>" 
	      style="border: 1px solid #ddd">&nbsp;</td>
	    <?php endif; ?>

	    <?php if ($templateData['percentComplete'] != 100): ?>
	    <td width="<?php echo 100 - $templateData['percentComplete'] ?>%" 
	      bgcolor="#eeeeee" 
	      style="border: 1px solid #ddd; <?php echo ($templateData['percentComplete'] == 0) ? '' : 'border-left: 0px;'?>">&nbsp;</td>
	    <?php endif; ?>
	  </tr>
	  <tr>
	    <td <?php echo ($templateData['percentComplete'] != 0 && $templateData['percentComplete'] != 100) ? 'colspan="2"' : '';?> >
	      <span class="statusLine">
		<?php print _('Install ') . $templateData['percentComplete'] ._('% complete')?>
	      </span>
	    </td>
	  </tr>
	</table>
      </div>  
    </div>
    <div id="footer">
      <?php echo _('Gallery: <strong>your photos</strong> on <strong>your website</strong>') ?> 
      &raquo; <a target="_blank" href="http://gallery.sourceforge.net/">gallery.sourceforge.net</a> 
    </div>
  </body>
</html>
