    <h1><?php print _("Storage Setup") ?></h1>

    <p>
      <?php print sprintf(_("Gallery needs to store data in a directory on your server. It will use this directory to store your images as well as other important data. For security, we suggest that you place this directory <b>outside</b> of your web site so that it cannot be browse directly via the web. This is necessary if you wish to have your images accessible only via Gallery [%s]. Note that the default path provided below is inside the webserver area. This is because we are unable to reliably guess a directory outside of your web site. You should update it with a secure location, such as a path under your user home directory, if possible. If you access your site via FTP, you might not have this option."), "<b><a href=\"#footnote_firewall\">*</a></b>"); ?>
    </p>

    <form name="storage_form" method="post">
      <table>
	<tr>
	  <td style="text-align: left;">
	    <?php print _('Directory path:') ?>
	  </td>

	  <td>
	    <input name="dir" type="text" size="50" value="<?php print $templateData['dir'] ?>"/>
	    <input type="hidden" name="action" value="save" />
	  </td>
	</tr>

	<?php if (isset($templateData['error'])): ?>
	<tr>
	  <td colspan="2" class="error">
	    <?php if (isset($templateData['error']['missing_value'])): ?>
	    <?php print _('You must enter a directory'); ?>
	    <?php endif; ?>
	    <?php if (isset($templateData['error']['missing_dir'])): ?>
	    <?php print _('The directory you entered does not exist'); ?>
	    <?php endif; ?>
	    <?php if (isset($templateData['error']['inaccessible_dir'])): ?>
	    <?php print _('The directory you entered is not accessible'); ?>
	    <?php endif; ?>
	    <?php if (isset($templateData['error']['readonly_dir'])): ?>
	    <?php print _('The directory you entered is read only'); ?>
	    <?php endif; ?>
	  </td>
	</tr>
	<?php endif; ?>
      </table>
    </form>

    <p>
      <?php print _("Your webserver needs to be able to write to this directory. Permission systems vary from host to host. You can set a very relaxed set of permissions on this directory to get Gallery working, but if you're concerned about security you should consult your system adminstrator to figure out how to make this as secure as possible. To get it working, you can follow these examples.") ?> 
      <br/>
      <i>
	<?php print _("Note: these are only examples!  You may find that they don't work quite right on your system.") ?>
      </i>
    </p>

    <?php if ($templateData['OS'] == 'unix'): ?>
    <div class="example">
      <h2> <?php print _("Unix (with shell access)"); ?> </h2>
      <pre> $ <b> <?php print sprintf(_("mkdir %s"), $templateData['dir']) ?> </b> <br/> $ <b> <?php print sprintf(_("chmod 777 %s"), $templateData['dir']) ?> </b> </pre>
    </div>

    <div class="example">
      <h2> <?php print _("Unix (with ftp access)"); ?> </h2>
      <i> <?php print _("Note that ftp servers and clients vary so these instructions may not work for you. Consult the manual for your FTP client or talk to a system administrator for help with this if you have problems") ?> </i> <br/>
      <pre> ftp> <b> <?php print sprintf(_("cd %s"), dirname($templateData['dir'])) ?></b><br/> ftp> <b> <?php print sprintf(_("mkdir %s"), basename($templateData['dir'])) ?> </b> <br/> ftp> <b> <?php print sprintf(_("chmod 777 %s"), basename($templateData['dir'])) ?> </b> </pre>
    </div>

    <?php else: ?>

    <div class="example">
      <h2> Windows </h2>
      <pre> C:\> <b> <?php print sprintf(_("mkdir %s"), $templateData['dir']) ?></b></pre>
    </div>

    <?php endif; ?>
    <div class="go">
      <span class="goToNext">
	<a href="javascript:document.storage_form.submit()"><?php print _('Save') ?></a>
      </span>
    </div>
    
    <hr/>

    <p style="text-align: left;">
      <strong><a name="footnote_firewall">*</a></strong> <?php print _("This is sometimes known as an <b>image firewall</b>.") ?>
    </p>

