    <h1><?php print _("Welcome") ?></h1>
    <p>
      <?php printf(_("Getting Gallery 2.0 installed on your webserver requires %d steps. This installer will guide you through these steps and provide assistance along the way if additional steps are required to get your Gallery up and running. Once a step has been completed, you can go back and make changes at any time. Please read the %sInstaller Help File%s before proceeding."),
	$templateData['totalSteps'],
	'<a href="../README.html" target="_blank">', '</a>') ?>
    </p>

    <div class="go">
      <span class="goToNext">
      <?php $x = ($templateData['configType'] != 'newconfig'); if ($x): ?>
	<a href="index.php?step=<?php print $stepNumber; ?>&amp;multisite=1"><?php print _('MultiSite Information') ?></a>
      </span>
      <span class="goToNext<?php if ($x) print 'L' ?>">
      <?php endif; ?>
	<a href="index.php?step=<?php print ($stepNumber + 1) ?>">
	  <?php print _('Begin Installation&raquo;') ?>
	</a>
      </span>
    </div>
