/****************************
 * Hybrid layout for Gallery2
 * $Revision$
 * @author Alan Harder <alan.harder@sun.com>
 */

table#hybridMain {
    width: 100%;
    height: 100%;
}
div#sidebar {
    border-right-width: 1px;
}

div#album_titlebar {
    position: fixed;
    border-bottom-width: 1px;
    width: 100%; /* for Opera */
}
div#album_tools {
    float: left;
    margin-right: 3px;
}
div#album_tools img {
    margin-right: 1px;
}

#gsAlbumContent table.content {
    margin: 3px 0 1px 3px;
}
#gsAlbumContent table.itemtext {
    width: 100%;
}
#gsAlbumContent td.i {
    text-align: center;
    vertical-align: top;
    padding: 0 5px 3px 0;
}
#gsAlbumContent td.i table {
    margin: auto; /* So imageframe can be centered */
}
#gsAlbumContent td.t {
    vertical-align: top;
    width: 40%;
}
#gsAlbumContent td.t img {
    margin-left: 1px;
}
#gsAlbumContent td.t div.title {
    margin-right: 6px;
    padding: 0 1px 0 2px;
}

div#imageview {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1; /* for Opera */
}
div#imagearea {
    overflow: hidden;
    width: 100%; /* for IE */
}
div#imagediv {
    text-align: center;
}
div#imagediv img {
    display: block;
    margin: auto;
}
div#textdiv {
    border-top-width: 1px;
}
div#tools_left {
    float: left;
}
div#tools_left img {
    margin-right: 1px;
}
div#tools_right {
    float: right;
}
div#tools_right img {
    margin-left: 1px;
}
div#title {
    text-align: center;
    min-height: 19px; /* for Gecko */
}
div#text {
    display: none;
    clear: both;
    height: 4em;
    overflow: auto;
    border-top-width: 1px;
    text-align: center;
}

div#popup_menu {
    display: none;
    position: absolute;
    padding: 1px 11px 3px 2px;
    border-width: 3px;
    border-style: outset !important;
    line-height: 1.33;
    font-size: 90%;
}
div#popup_details {
    display: none;
    position: fixed;
    left: 15%;
    top: 14%;
    width: 70%;
    height: 75%;
    z-index: 2;
    border-width: 0 5px 5px;
    border-style: ridge !important;
}
div#popup_details iframe {
    width: 100%;
    height: 100%;
}
div#popup_titlebar {
    display: none;
    position: fixed;
    left: 15%;
    top: 11%;
    width: 70%;
    height: 3%;
    z-index: 2;
    border-width: 5px 5px 2px;
    border-style: ridge ridge solid !important;
    text-align: center;
}

.gbBlock {
    margin: 0 0 0 4px;
    padding: 2px 4px 5px 0;
    border-width: 0 0 1px 0;
    border-style: inherit;
    border-color: inherit;
    /* IE can't inherit these */
    border-style: expression(parentElement.currentStyle.borderStyle);
    border-color: expression(parentElement.currentStyle.borderColor);
}
.gbBlock ul {
    margin: 0 0 0 4px;
    padding: 0;
    list-style-type: none;
}
.gbBlock li {
    padding: 0 0 2px 0;
}
.gbBlock ul ul {
    margin: 0 0 0.25em 0.6em;
}
.gbBlock h3 {
    margin: 0;
    padding: 3px 0 5px 0;
}
.gbBlock select {
    font-size: 0.9em;
}
#SearchSystemContent input {
    margin-top: 6px;
    padding: 0 2px 0 2px;
    font-size: 90%;
}
