/*
	matrix.css - core Gallery 2 css
	by Ross A. Reyman and Jon Huang

*/

/* ***************** DEBUG ********************** */


/* try uncommenting this when working on the layout CSS alone to see the boxes*/
/* div, table {border-width: 1;
            border-style: inset;
            border-color: #EEEEEE; 
            padding: 1;
            marging: 1; }
*/


/* ***************** GALLERY  ********************** */
/*   Category 1: Gallery                             */
/*    declare where to put Gallery Module            */

/*  main container. Ignore in stand-alone install */
#gallery { }


/* ***************** SECTIONS ********************** */
/*   Category 2: section definitions                 */
/* declare relative or absolute section positions    */

#gsHeader { margin: 0; padding: 0; }

#gsSidebar {
	position: absolute;
	left:0;
	width: 150px;
	padding: 0 10px;
}

#gsComments { 
    clear: both;
	padding: 8px;
}

/* Status message display section */
#gsStatus {
	padding: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
 }


/* gsXxxxContents	elements are the main 'holder' for the page. */

#gsAlbumContents {
	margin-left: 170px;
	width: auto;
	min-width: 596px;
}

#gsSearchContents { }

#gsItemImages {
	display: block;
	clear: all;
}

#gsAlbumImages {
	display: block;
	clear: all;
}

/* ***************** BOXES ******************************* */
/*   Category 3: box definitions                           */
/* declare relative position of boxes inside main sections */
/* Declare relative pos. in relation to containing section */

/* ********** global    *************** */

.gbDataEntry {
	margin: 6 0px;
}

/* Menus don't need to be global, but currently are */
.gbMenu { 
	padding: 16px 0;
	margin: 16px 0;
}

/* spacers neeed for expanding layouts */
.guSpacer, .gpSpacer, .gsSpacer, .gbSpacer, .giSpacer { clear: both; }


/* ********** default   *************** */



/* ********** #gsHeader *************** */

#gsHeader .gbTitleBanner { padding: 6px 0; }

.gbBreadCrumb { 
	margin-left: 170px; 
	padding: 5px 0; 
}
.gbBreadCrumb li { 
	display: inline;
	list-style-type: decimal;
	padding: 0 5px;
}

#gsFooter {
	margin-left: 170px;
}

/* ********** #gsAlbumContents ******** */

#gsAlbumContents .gbTitleBanner {
	float: left;
	width: 256px;
	padding: 8px 0;
}

#gsAlbumContents .gbItemAlbum {
	clear: both;
	float: left;
	width: 97%;
	margin: 5px 0;
	padding: 8px;
}

.gbItemAlbum:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .gbItemAlbum { height: 1%; }
/* End hide from IE-mac */

/* individual items */
#gsAlbumContents .gbItemImage,
#gsAlbumContents .gbItemMovie,
#gsAlbumContents .gbItemOther {
	float: left;
	/*	IE max-width >> http://www.svendtofte.com/code/max_width_in_ie/ */
	min-height: 216px;
	height: expression(this.scrollHeight < 216? '216px' : 'auto' );
	max-width: 172px;
	width: expression(document.body.clientWidth > 172? '172px': 'auto' );
	margin: 8px 8px 0 0;
	padding: 8px 0;
}

#gsAlbumContents .gbExif { }

#gsAlbumContents .gbBottomFlag { 
	display: block; 
	clear: both;
	padding: 8px;
    margin: 5px 0;
}

.gbTopFlag:after, .gbBottomFlag:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .gbTopFlag, * html .gbBottomFlag { height: 1%; }
/* End hide from IE-mac */

#gsAlbumContents .giHorizontalLinks { 
	float: right;
	margin: 0;
	padding: 0;
}
#gsAlbumContents .giHorizontalLinks li { 
	display: inline;
	list-style-type: none;
	padding: 0 5px;
 }
#gsAlbumContents .giHorizontalLinks a { text-decoration: none; }

/* ************* #gsCommentBox ************ */

#gsComments .gbComment { 
	padding: 8px 0 16px 0;
}

/* ************* gsSidebar **************** */

/* a default for any unknown div in #gsSideBar */
#gsSidebar div { }


/* ************* gsComments *************** */

#gsComments .gbComment div.giHorizontalLinks {
	float: none;
}

/* ************* #gsSearchContents *********** */

/* The title banner is the light grey 'search' at the very top */
#gsSearchContents .gbTitleBanner { }

#gsSearchContents .gbItemImage { clear: left; }

#gsSearchContents .gbForm { }

span { display: block; }


/* ************** Status classes ***************** */

