/*
	Matrix
	Gallery 2
	layout.css
	by Ross A. Reyman, Jon Huang and Chad Kiefer

*/

/*      GALLERY
        Category 1: Gallery                             
        declare where to put Gallery Module           
*/

/*      main container - ignore in stand-alone install  */
#gallery { }


/*      SECTIONS
        Category 2: section definitions               
        declare relative or absolute section positions
*/

#gsHeader { 
	display: block; 
	width: 90%;
	margin: 0; 
	padding: 0;
}

#gsSidebar {
	float: left;
	width: 156px;
	margin: 0;
	padding: 0;
}

#gsContents {
        width: auto;
        margin: 0 0 0 0;
}

#gsContents:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .#gsContents { height: 1%; }
/* End hide from IE-mac */

#gsComments { 
        clear: both;
	padding: 8px;
}

/*      status message display section  */
#gsStatus {
	padding: 4px;
	margin: 4px 0;
 }


/*      gsXxxxContents - elements are the main 'holder' for the page. */

#gsAlbumContents {
        float: left;
	width: 73%;
	/* min-width: 596px;  non ie */
        border: 1px none blue;
	margin: 0;
	padding: 0;
}

#gsSearchContents { }

#gsItemImages {
	display: block;
	clear: all;
}

#gsAlbumImages {
	display: block;
	clear: all;
}

/*      BOXES
        Category 3: box definitions
        declare relative position of boxes inside main sections
        Declare relative pos. in relation to containing section
*/

/*      global  */

.gbDataEntry {
	margin: 6 0px;
}

/*      first and default module settings */
.gbMenu { 
	margin: 16px 0 8px 8px;
	padding: 0 0 16px 0;
}

/*      subsequent menu modules can have different settings */
.gbMenu + .gbMenu { 
	margin-top: 0;
}


/*      spacers neeed for expanding layouts */
.guSpacer, .gpSpacer, .gsSpacer, .gbSpacer, .giSpacer { clear: both; }


/*      default */



/*      #gsHeader       */

#gsHeader .gbTitleBanner { padding: 6px 0; }

.gbBreadCrumb { 
        margin: 0;
	padding: 16px 8px; 
}
.gbBreadCrumb li { 
	display: inline;
	list-style-type: decimal;
	padding: 0 0;
}

#gsFooter {
	clear: both;
}

/*      #gsAlbumContents        */

#gsAlbumContents .gbTitleBanner {
	float: left;
	width: 256px;
	padding: 8px 0;
}

#gsAlbumContents .gbItemAlbum {
	margin: 4px 0;
}

.gbItemAlbum:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .gbItemAlbum { height: 1%; }
/* End hide from IE-mac */

/* individual items */
#gsAlbumContents .gbItemImage,
#gsAlbumContents .gbItemMovie,
#gsAlbumContents .gbItemOther {
	float: left;
/*	IE max-width >> http://www.svendtofte.com/code/max_width_in_ie/ */
	min-height: 216px;
	height: expression(this.scrollHeight < 216? '216px' : 'auto' );
	max-width: 172px;
	width: expression(document.body.clientWidth > 172? '172px': 'auto' );
	margin: 8px 8px 0 0;
	padding: 8px 0;
}

#gsAlbumContents .gbExif { }

#gsAlbumContents .gbBottomFlag { 
	display: block; 
	clear: both;
	padding: 0;
        margin: 0;
}

.gbTopFlag:after, .gbBottomFlag:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .gbTopFlag, * html .gbBottomFlag { height: 1%; }
/* End hide from IE-mac */

#gsAlbumContents .giHorizontalLinks { 
	float: right;
	margin: 0;
	padding: 0;
}
#gsAlbumContents .giHorizontalLinks li { 
	display: inline;
	list-style-type: none;
	padding: 0 5px;
 }
#gsAlbumContents .giHorizontalLinks a { text-decoration: none; }

/*      #gsCommentBox   */

#gsComments .gbComment { 
	padding: 8px 0 16px 0;
}

/*      gsSidebar       */

/* a default for any unknown div in #gsSideBar */
#gsSidebar div { }


/*      gsComments       */

#gsComments .gbComment div.giHorizontalLinks {
	float: none;
}

/*      #gsSearchContents       */

/* The title banner is the light grey 'search' at the very top */
#gsSearchContents .gbTitleBanner { }

#gsSearchContents .gbItemImage { clear: left; }

#gsSearchContents .gbForm { }

span { display: block; }