/*
	Matrix
	Gallery 2
	layout.css
	by Ross A. Reyman, Jon Huang and Chad Kiefer

*/

/*	  GALLERY
		Category 1: Gallery							 
		declare where to put Gallery Module		   
*/

/*	  main container - ignore in stand-alone install  */
#gallery { }

div { margin: 0; padding: 0; }


/*	  SECTIONS
		Category 2: section definitions			   
		declare relative or absolute section positions
*/

#gsHeader { 
	display: block; 
	width: 90%;
}

#gsSidebar {
	position: absolute;
	left: 8px;
	float: left;
	clear: none;
	width: 156px;
}

#gsContents {
	width: auto;
	margin: 0 0 0 0;
}

#gsContents:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

/* Hides from IE-mac \*/
* html .#gsContents { height: 1%; }
/* End hide from IE-mac */

#gsComments { 
	clear: both;
	padding: 8px;
}

/*	  status message display section  */
#gsStatus {
	padding: 4px;
	margin: 4px 0;
}


/*	  gsXxxxContents - elements are the main 'holder' for the page. */

#gsAlbumContents {
	margin: 0 0 0 157px;
}

#gsSearchContents { }

#gsItemImages {
	display: block;
	clear: both;
}

#gsAlbumImages {
	display: block;
	clear: both;
}

/*	  BOXES
		Category 3: box definitions
		declare relative position of boxes inside main sections
		Declare relative pos. in relation to containing section
*/

/*	  global  */

.gbDataEntry { margin: 6 0px; }

/*	  first and default module settings */
.gbMenu { 
	margin: 16px 0 8px 8px;
	padding: 0 0 16px 0;
}

/*	  subsequent menu modules can have different settings */
.gbMenu + .gbMenu { 
	margin-top: 0;
}

.gbMenu:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

#gsSidebar .giThumbImage { margin: 4px 0; }

/* Hides from IE-mac \*/
* html .Menu { height: 1%; }
/* End hide from IE-mac */

/*	  #gsHeader	   */

.gbBreadCrumb { 
	margin: 0;
	padding: 16px 8px; 
}
.gbBreadCrumb li { 
	display: inline;
	list-style-type: decimal;
	padding: 0 0;
}

#gsFooter { 
	position: absolute;
	clear: both;
	left: 160px;
}

/*	  #gsAlbumContents		*/

table#gbThumbMatrix {  }

.gbTitleBanner {
	width: 98%;
	margin: 0;
	padding: 0 8px;
}

#gsAlbumContents .gbExif { }

/*.gbTopFlag:after, .gbBottomFlag:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

/* Hides from IE-mac \ * /
* html .gbTopFlag, * html .gbBottomFlag { height: 1%; }
/* End hide from IE-mac */

#gsAlbumContents .giHorizontalLinks { float: right; }

#gsAlbumContents .giHorizontalLinks li { 
	display: inline;
	list-style-type: none;
	padding: 0 5px;
 }
#gsAlbumContents .giHorizontalLinks a { text-decoration: none; }

/*	  #gsCommentBox   */

#gsComments .gbComment { 
	padding: 8px 0 16px 0;
}

/*	  gsSidebar	   */

/* a default for any unknown div in #gsSideBar */
#gsSidebar div { }


/*	  gsComments	   */

#gsComments .gbComment div.giHorizontalLinks {
	float: none;
}

/*	  #gsSearchContents	   */

/* The title banner is the light grey 'search' at the very top */
#gsSearchContents .gbTitleBanner { }

#gsSearchContents .gbItemImage { clear: left; }

#gsSearchContents .gbForm { }

span { display: block; }
