/* -- Gallery elements -------------------- */

#gallery h2 {
    font-size: 1.9em;
    font-weight: normal;
}

.gallery-thumb {
    margin: 0;
    float: left;
    text-align: center;
}

#gallery .gallery-thumb img {
    background: #fff;
    border-width: 1px;
    padding: 4px;
    margin: 1px;
    -moz-border-radius: 2px;
}

#gallery .gallery-thumb a:hover img {
    border-width: 2px;
    border-color: #38c;
    margin: 0;
    -moz-border-radius: 3px;
}

.gallery-photo {
    text-align: center;
}

#gallery .gallery-photo img {
    background: #fff;
    border-width: 1px;
    padding: 7px;
    -moz-border-radius: 4px;
}

.gallery-albums {
    clear: both;
}

#gallery .gallery-albums h3 {
    clear: both;
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 20px 0 15px 0;
    padding-bottom: 2px;
    border-bottom-width: 1px;
}

.gallery-items {
    margin: 0 23px;
    clear: both;
}

#gallery .gallery-albums h4 {
    margin: 0;
}

.gallery-albums .gallery-thumb {
    margin-right: 5px; 
    height: 200px;
}

.gallery-album {
    width: 300px;
    height: 200px;
    padding-right: 20px;
    display: block;
    float: left;
    overflow: hidden;
}

#gallery .gallery-album p {
    font-size: 10px;
}

.gallery-album .meta {
    margin-top: 3px; 
    color: #999;
    font-size: 11px;
}

.prevnext {
    margin-top: 1em;
    text-align: center;
}
