body {
  font-family: "Bitstream Vera Sans", Verdana, Helvetica, Arial, sans-serif;
  font-size: 100%;
}

table td { 
  padding: 0px; 
}

.main {
  width: 91%;
  margin: 0px 8px 0px 8px;
  padding: 0px 0px 0px 0px;
  text-align: left;
  border: 0px;
  background-color: #fff;
  overflow: hidden;
  border-collapse: collapse;
  border-spacing: 0px;
  vertical-align: top;
}

.main_inner { 
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0px;
}

.pagebox { 
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0px;
}

.pagebox_description { 
}

.pagebox_element { 
}

.pagebox_element_success { 
  text-align: center;
  padding: 4px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.pagebox_element_error { 
  text-align: center;
  padding: 4px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.pagebox_footer { 
}

.bannerbox {
  color: #333;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 8px 12px 8px 12px;
  text-align: left;
  background-color: #eee;
  font-weight: bold;
  font-size: 100%;
}

.bannerbox_inner {  
  width: 100%;
  margin: 0px 24px 0px 0px;
  padding: 0px 0px 0px 0px;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0px;
}

.bannerbox_title {  
  color: #333;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  vertical-align: top;
  text-align: left;
  background-color: #eee;
  font-weight: bold;
  font-size: 81%;
}

.bannerbox_description {  
  font-size: 63%;
}

.bannerbox_element {  
  vertical-align: top;
  text-align: left;
  white-space: nowrap;
  font-size: 63%;
}

.infoset {
  border-collapse: collapse;
  border-spacing: 0px;
}

.infoset_item {  
  color: #666;
  white-space: nowrap;
  font-size: 63%;
}

.box {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: transparent;
  clear: none;
}

.box_title { 
  margin: 0px 0px 4px 0px;
  padding: 0px 0px 0px 0px;
  font-weight: bold;
  font-size: 67%;
}

.box_subtitle { 
  color: #ddd;
}

.box_description { 
  margin: 0px 0px 8px 0px;
  padding: 0px 0px 8px 0px;
  font-size: 63%;
  line-height: 1.6;
}

/****************************/

.box_admin {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 4px;
  background-color: transparent;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  clear: none;
}

.box_admin_title { 
  margin: 0px 0px 4px 0px;
  padding: 0px 0px 0px 0px;
  font-weight: bold;
  font-size: 67%;
}

.box_admin_subtitle { 
  color: #ddd;
}

.box_admin_description { 
  margin: 0px 0px 8px 0px;
  padding: 0px 0px 8px 0px;
  font-size: 63%;
  line-height: 1.6;
}

.box_admin_element { 
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 67%;
}

.box_admin_element_emphasized { 
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 81%;
  font-weight: bold;
}

/****************************/

.box_comment {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  background-color: transparent;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0px;
}

.box_comment_title { 
  margin: 0px 0px 0px 0px;
  padding: 4px 0px 4px 0px;
  font-weight: bold;
  background: #ddd;
  font-size: 87%;
}

.box_comment_subtitle { 
  font-size: 67%;
}

.box_comment_description { 
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 67%;
  background: #eee;
}

.box_comment_element { 
  margin: 0px 0px 0px 0px;
  padding: 8px;
  font-size: 81%;
}

.box_comment_element_emphasized { 
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 81%;
  font-weight: bold;
}

/****************************/

.box_debug {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0px;
}

.box_debug_title { 
  margin: 0px 0px 0px 0px;
  padding: 4px 0px 4px 0px;
  font-weight: bold;
  background: #ddd;
  font-size: 87%;
}

.box_debug_description { 
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 67%;
  background: #eee;
}

.box_debug_element { 
  margin: 0px 0px 0px 0px;
  padding: 8px;
  font-size: 100%;
}

/****************************/

.box_sidebar { 
}

.box_sidebar_title { 
  margin: 0px 0px 4px 0px;
  padding: 0px 0px 0px 0px;
  font-weight: bold;
  font-size: 67%;
}

.box_sidebar_subtitle { 
  color: #ddd;
}

.box_sidebar_footer { 
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 6px;
  font-size: 67%;
  font-weight: bold;
}

/****************************/

.globalheader {
  width: 91%;
  margin: 0px 0px 0px 32px;
  padding: 0px 0px 0px 0px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  font-size: 100%;
  font-weight: bold;
}

.globalfooter {
  width: 91%;
  margin: 0px 32px 0px 32px;
  padding: 8px 16px 8px 16px;
  text-align: left;
  border-top: 1px solid #ddd;
  background-color: #fff;
  font-size: 100%;
  font-weight: bold;
}

.breadcrumb {
  width: auto;
  height: 24px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0px;
}

.breadcrumb_inner {
  width: auto;
  height: 24px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-collapse: collapse;
  border-spacing: 0px;
}

.breadcrumb_item {
  color: #aaa;
  width: auto;
  margin: 0px 2px 0px 2px;
  padding: 0px 6px 0px 0px;
  text-align: left;
  vertical-align: middle;
  background-color: #fff;
  font-size: 69%;
  font-weight: bold;
}

.sidebar_left {
  text-align: left;
  vertical-align: top;
  width: 130px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: 0px dashed #ddd;
  background-color: #fff;
}

.sidebar_right {
  text-align: left;
  vertical-align: top;
  width: 130px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: 0px dashed #ddd;
  background-color: #fff;
}

.sidebar {
  text-align: left;
  vertical-align: top;
  width: 130px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: 0px dashed #ddd;
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 69% important;
}

.sidebar_box_left {
  text-align: left;
  vertical-align: top;
  width: auto;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 4px 4px 4px 4px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.sidebar_box_right {
  text-align: left;
  vertical-align: top;
  width: auto;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 4px 4px 4px 4px;
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 69%;
}

.listing { 
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.listing_list { 
  list-style-type: none;
  margin: 0px 0px 8px 12px;
  padding: 0px 0px 0px 0px;
}

.listing_item { 
  margin: 0px 0px 0px 0px;
  padding: 2px 0px 2px 0px;
  color: #bbb;
  line-height: 1.33;
  font-size: 63%;
}

.listing_selecteditem { 
  margin: 0px 0px 0px 0px;
  padding: 2px 0px 2px 0px;
  color: #000;
  line-height: 1.33;
  font-size: 63%;
  list-style-type: disc;
  font-weight: bold;
}

.success { 
  font-weight: bold;
  color: #696;
}

.warning { 
  font-weight: bold;
  color: #F93;
}

.error { 
  font-weight: bold;
  color: #c00;
}

.table { 
}

.table_canvas { 
  width: 100%;
  border-spacing: 2px;
  font-size: 100%;
  margin: 0px 0px 0px 0px;
  border-bottom: 1px;
}

.table_admin_widgets { 
  width: auto;
  border-spacing: 2px;
  font-size: 100%;
  margin: 0px 0px 0px 0px;
  border-bottom: 1px;
}

.table_admin_listing { 
  width: 100%;
  border-spacing: 2px;
  font-size: 100%;
  margin: 0px 0px 0px 0px;
  border-bottom: 1px;
}

.row { 
}

.row_even { 
  background-color: #f0f0f0;
}

.row_odd { 
  background-color: #fcfcfc;
}

.column { 
}

.columnheader { 
  font-weight: bold;
  background-color: #eee;
}

.imagebox { 
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.imagebox_title { 
}

.imagebox_description { 
  font-size: 63%;
  font-style: italic;
}

.tabbedbox {  
  width: 100%;
  margin-left: 12px;
  border-collapse: collapse;
  border-spacing: 0px;
}

.tabbedbox_tabset {  
  width: auto;
  padding: 0px 0px 0px 0px;
  border-right: 0px solid #ccc;
  border-collapse: collapse;
  border-spacing: 0px;
}

.tabbedbox_tabset_divider { 
  background-color: #ccc;
  height: 5px;
}

.tabset {  
  width: auto;
  border-collapse: collapse;
  border-spacing: 0px;
}

.tabset_tab_tween { 
}

.tabset_inactivetab { 
  font-size: 63%;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
}

.tabset_activetab { 
  font-size: 63%;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
}

.image { 
  border: 3px solid #ddd;
  margin: 5px;
}

.itemthumbnail { 
  float: left;
  clear: top;
  padding: 8px;
}

.itemthumbnail_title { 
  font-weight: bold;
  font-size: 81%;
  padding: 0px 0px 0px 6px;
}

.itemthumbnail_actionset { 
  font-size: 81%;
  padding: 0px 0px 0px 6px;
}

.itemthumbnail_media { 
  background-color: transparent;
}

.albumthumbnail { 
  width: 100%;
  clear: left;
  background-color: #eee;
  margin: 8px;
}

.albumthumbnail_inner { 
  width: auto;
  background-color: #eee;
  border-collapse: collapse;
  border-spacing: 0px;
  vertical-align: top;
}

.albumthumbnail_title { 
  font-weight: bold;
  font-size: 87%;
}

.albumthumbnail_description { 
  font-size: 67%;
}

.albumthumbnail_infoset { 
  font-size: 67%;
}

.albumthumbnail_actionset { 
  font-size: 67%;
  padding: 0px 0px 0px 8px;
}

.albumthumbnail_data { 
  width: 100%;
  vertical-align: top;
  padding: 8px;
}

.albumthumbnail_media { 
  background-color: transparent;
}

.albumthumbnail_info { 
  width: 100%;
  text-align: left;
  vertical-align: top;
  background-color: #eee;
}

/* Form Widgets */
a {
  color: #006699;
  font-weight: 800;
}

a:link { 
  color: #58526E;
}

a:visited { 
  color: #58526E;
}

a:hover { 
  color: #F60;
}

input {
  margin: 0px 0px 0px 0px;  font-size: 81%;
}

select {
  margin: 0px 0px 0px 0px;
}

textarea {
  margin: 0px 0px 0px 0px;
}

button {
  margin: 0px 0px 0px 0px;
}

