body {
  font-family: "Bitstream Vera Sans", Verdana, Helvetica, Arial, sans-serif;
  font-size: 100%;
}

table td { 
  padding: 0px; 
}

.main {
  width: 91%;
  margin: 0px 32px 0px 32px;
  padding: 0px 0px 0px 0px;
  text-align: left;
  border: 0px;
  background-color: #fff;
  overflow: hidden;
  border-collapse: collapse;
  border-spacing: 0px;
  vertical-align: top;
}

.main_inner { 
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0px;
}

.main_box { 
  border-bottom: 1px solid #ddd;
}

.bannerbox {
  color: #333;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 8px 12px 8px 12px;
  text-align: left;
  background-color: #eee;
  border-right: 1px solid #ddd;
  font-weight: bold;
  font-size: 81%;
}

.bannerbox_inner {  
  width: 100%;
  margin: 0px 24px 0px 0px;
  padding: 0px 0px 0px 0px;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0px;
}

.bannerbox_title {  
  color: #333;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  vertical-align: top;
  text-align: left;
  background-color: #eee;
  font-weight: bold;
  font-size: 81%;
}

.bannerbox_description {  
  font-size: 63%;
}

.bannerbox_component {  
  vertical-align: top;
  text-align: right;
  white-space: nowrap;
}

.widget1box { 
  border-collapse: collapse;
  border-spacing: 0px;
}

.widget1_title {
  font-size: 63%;
  text-align: left;
  width: auto; 
  padding-top: 2px; 
  padding-right: 8px;
  vertical-align: top;
}

.widget1_body { 
  padding-bottom: 8px;
}

.widget2_title {
  font-size: 69%;
  font-weight: bold;
  text-align: left;
  padding-top: 2px; 
  padding-right: 8px;
  vertical-align: top;
}

.widget2_description {
  font-size: 63%;
  text-align: left;
  padding-top: 2px; 
  padding-right: 8px;
  vertical-align: top;
}

.widget2_body { 
  padding-bottom: 8px;
}

.linksbox {
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 81%;
}

.linksbox_item {  
  color: #bbb;
  font-size: 63%;
}

.infobox {
  border-collapse: collapse;
  border-spacing: 0px;
}

.infobox_item {  
  color: #666;
  white-space: nowrap;
  font-size: 63%;
}

.detailedbox {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: transparent;
  clear: none;
}

.detailedbox_title { 
  margin: 0px 0px 4px 0px;
  padding: 0px 0px 0px 0px;
  font-weight: bold;
  font-size: 67%;
}

.detailedbox_description { 
  margin: 0px 0px 8px 0px;
  padding: 0px 0px 8px 0px;
  font-size: 63%;
  line-height: 1.6;
}

.globalheader {
  width: 91%;
  margin: 0px 0px 0px 32px;
  padding: 0px 0px 0px 0px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  font-size: 100%;
  font-weight: bold;
}

.globalfooter {
  width: 91%;
  margin: 0px 32px 0px 32px;
  padding: 8px 16px 8px 16px;
  text-align: left;
  border-top: 1px solid #ddd;
  background-color: #fff;
  font-size: 100%;
  font-weight: bold;
}

.pathbar {
  width: auto;
  height: 24px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0px;
}

.pathbar_inner {
  width: auto;
  height: 24px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-collapse: collapse;
  border-spacing: 0px;
}

.pathbar_item {
  color: #aaa;
  width: auto;
  margin: 0px 2px 0px 2px;
  padding: 0px 6px 0px 0px;
  text-align: left;
  vertical-align: middle;
  background-color: #fff;
  font-size: 69%;
  font-weight: bold;
}

.sidebar_left {
  text-align: left;
  vertical-align: top;
  width: 130px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: 0px dashed #ddd;
  background-color: #fff;
}

.sidebar_right {
  text-align: left;
  vertical-align: top;
  width: 130px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: 0px dashed #ddd;
  background-color: #fff;
}

.sidebar {
  text-align: left;
  vertical-align: top;
  width: 130px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: 0px dashed #ddd;
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 69% important;
}

.sidebar_box_left {
  text-align: left;
  vertical-align: top;
  width: auto;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 4px 4px 4px 4px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.sidebar_box_right {
  text-align: left;
  vertical-align: top;
  width: auto;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 4px 4px 4px 4px;
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 69%;
}

.textmodifier { 
  color: #ddd;
}

.simplebox { 
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-collapse: collapse;
  border-spacing: 0px;
}

.simplebox_title { 
  margin: 0px 0px 0px 0px;
  padding: 6px 0px 6px 0px;
  font-weight: bold;
  font-size: 69%;
}

.simplebox_body { 
  font-size: 69%;
}

.listingbox { 
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.listingbox_title { 
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 4px 0px;
  font-weight: bold;
  font-size: 69%;
}

.listingbox_list { 
  list-style-type: none;
  margin: 0px 0px 8px 12px;
  padding: 0px 0px 0px 0px;
}

.listingbox_item { 
  margin: 0px 0px 0px 0px;
  padding: 2px 0px 2px 0px;
  color: #bbb;
  line-height: 1.33;
  font-size: 63%;
}

.listingbox_selecteditem { 
  margin: 0px 0px 0px 0px;
  padding: 2px 0px 2px 0px;
  color: #000;
  line-height: 1.33;
  font-size: 63%;
  list-style-type: disc;
  font-weight: bold;
}

.status { 
  font-weight: bold;
  color: #696;
}

.error { 
  font-weight: bold;
  color: #c00;
}

.table { 
  width: 98%;
  border-spacing: 2px;
  margin: 2px 2px 2px 2px;
}

.columnheader { 
  font-size: 81%;
  background-color: #eee;
}

.column { 
  font-size: 63%;
  line-height: 1.33;
  background-color: #fff;
}

.imagebox { 
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.imagebox_title { 
}

.imagebox_description { 
  font-size: 63%;
  font-style: italic;
}

.tabbedbox {  
  width: 100%;
  margin-left: 12px;
  border-collapse: collapse;
  border-spacing: 0px;
}

.tabbedbox_tab_tween { 
}

.tabbedbox_tabset {  
  width: auto;
  padding: 0px 0px 0px 0px;
  border-right: 0px solid #ccc;
  border-collapse: collapse;
  border-spacing: 0px;
}

.tabbedbox_tabset_inner {  
  width: auto;
  border-collapse: collapse;
  border-spacing: 0px;
}

.tabbedbox_tabset_divider { 
  background-color: #ccc;
  height: 5px;
}

.tabbedbox_inactivetab { 
  font-size: 63%;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
}

.tabbedbox_activetab { 
  font-size: 63%;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
}

.thumbnail_image { 
  border: 3px solid #ddd;
  margin: 5px;
}

.fullsize_image { 
  border: 3px solid #ddd;
  margin: 5px;
}

/* Form Widgets */
a {
  color: #006699;
  font-weight: 800;
}

a:link { 
  color: #58526E;
}

a:visited { 
  color: #58526E;
}

a:hover { 
  color: #F60;
}

input {
  margin: 0px 0px 0px 0px;  font-size: 81%;
}

select {
  margin: 0px 0px 0px 0px;
}

textarea {
  margin: 0px 0px 0px 0px;
}

button {
  margin: 0px 0px 0px 0px;
}

