/* ********************************************************************************
 * Veloria Theme
 * by Chris Smith
 *
 * derived from "Matrix" by Ross A. Reyman, Jon Huang and Chad Kiefer
 * updated by Alan Harder
 */

/* ********************************************************************************
 * Building blocks
 * #gallery              Default font/color settings
 * .gcBackground1,2..    Palette of backgrounds
 * .gcBorder1,2..        Palette of borders
 * a, h2, h3, etc        Standard html tags
 * .giTitle, .giSubtitle, .giDescription, .giInfo, .giSuccess, .giWarning, .giError
 *                       Palette of text styles
 * ul.gbBreadCrumb       List of links/path elements
 * table.gbDataTable     Table for data/form elements with styles for shading rows
 * ul.gbTabBar           UI component for selectable tabs
 * .autoComplete*        Styles for autoComplete popup lists
 */

#gallery {
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    color: #000;
    background-color: #066;
    border: 4px solid #000;
}
body.gallery {
    background-color: #066;
}

.gcBackground1 {
    background-color: #ddd;
}

.gcBackground2 {
    background-color: #e7e7e7;
}

.gcBorder1 {
    border: 0px solid #000;
}

.gcBorder2 {
    border: 0px solid #888;
}

#gallery a {
    text-decoration: none;
    color: #11d;
}
#gallery a:hover {
    text-decoration: underline;
    color: #33e;
}
#gallery a:active {
    text-decoration: none;
    color: #44f;
}

#gallery img {
    border-style: none;
}

#gallery img.giThumbnail {
    border: 6px solid #fff;
}

#gallery h2, #gallery h3, #gallery h4 {
    font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
}

#gallery input:focus, #gallery textarea:focus {
    background-color: #ffc;
}

#gallery input.inputTypeSubmit, #gallery input.inputTypeButton {  /* No input[type=submit] in IE */
    color: #333;
    background-color: #eee;
    border-width: 2px;
    border-style: solid;
    border-color: #e7e7e7 #666 #666 #e7e7e7;
}

#gallery select {
    font-size: 1em;
}

.giTitle, #gallery h3, #gallery h4 {
    font-size: 1.3em;
    font-weight: bold;
}
#gallery h2 {
    font-size: 1.5em;
    font-weight: bold;
}

#gallery pre, #gallery tt {
    font-family: Courier New;
    font-size: 1.2em;
}

.giSubtitle {
    font-size: 0.9em;
    font-weight: normal;
    vertical-align: text-bottom;
}

.giDescription {
    font-size: 1.1em;
    line-height: 1.4em;
}

.giInfo {
    font-size: 1.0em;
    color: #888;
}

.giSuccess, .giWarning, .giError  {
    font-weight: normal;
}

.giSuccess { color: #4a4; }
.giWarning { color: #dd7; }
.giError { color: #a44; }


ul.gbBreadCrumb {
    font-size: 1.1em;
    font-weight: bold;
}

ul.gbBreadCrumb li {
    padding: 0 0 0 14px;
    background: url('../matrix/images/icon_path_separator.gif') no-repeat left;
}

ul.gbBreadCrumb li.firstChild {   /* no :first-child in IE */
    padding-left: 0;
    background-image: none;
}


table.gbDataTable th {
    text-align: left;
    background-color: #e7e7e7;
}

.gbEven {
    background-color: #fff;
}

.gbOdd {
    background-color: #eee;
}


ul.gbTabBar {
    font-size: 0.9em;
    font-weight: bold;
    margin: 0.8em 0 0;
    padding: 6px;
    background: url('../veloria/images/tab-no-tab.gif') repeat-x bottom;
}

ul.gbTabBar li {
    display: inline;
    padding: 6px 0 4px 8px;
    background: url('../veloria/images/tab-left.gif') no-repeat left top;
}
* html ul.gbTabBar li {  /* IE adds li+span padding instead of overlapping */
    padding: 0 0 0 8px;
}
* html ul.gbTabBar li.giSelected {
    padding-bottom: 0;
}

ul.gbTabBar span {
    padding: 6px 12px 4px 4px;
    background: url('../veloria/images/tab-right.gif') no-repeat right top;
}

#gallery ul.gbTabBar a {
    color: #777;
    text-decoration: none;
}

ul.gbTabBar a:hover {
    color: #333;
}

ul.gbTabBar li.giSelected {
    padding-bottom: 6px;
    background-image: url('../veloria/images/tab-left-on.gif');
}

ul.gbTabBar li.giSelected span {
    color: #333;
    padding-bottom: 6px;
    background-image: url('../veloria/images/tab-right-on.gif');
}


.autoCompleteBackground {
    border: 1px solid #ccc;
    border-top-style: none;
    margin: 0;
}

.autoCompleteHighlight {
    text-decoration: underline;
}

.autoCompleteNotSelected {
    background-color: #eee;
    padding: 3px 4px 3px 17px;
}

.autoCompleteSelected {
    background-color: #ffc;
    padding: 3px 4px 3px 17px;
}


#gallery .gbMarkupBar input {
    font-size: 1.1em;
}


.giStatusProgressMade {
    background-color: #fd6704;
    border: thin solid #ddd;
}

.giStatusProgressToGo {
    background-color: #eee;
    border: thin solid #ddd;
}


.giSearchHighlight {
    font-weight: bold;
    background-color: #ff6;
}


/* ********************************************************************************
 * Sections
 * #gallery         Page container
 * #gsSystemLinks   Top bar with breadcrumb and other links
 * #gsSidebar       Sidebar
 * #gsContent       Main content
 * #giFormUsername  Form field for entering a username
 * #giFormGroupname Form field for entering a group name
 */

#gsHeader {
    background: #a3a300 url('../veloria/images/banner.gif') no-repeat left;
    padding-left: 600px;
}

#gsFooter {
    background-color: #aeae00;
    border-top: 4px solid #000;
    padding: 8px;
}

#gsSystemLinks {
    background-color: #a35200;
}

#gsSystemLinks div {
    margin-top: 0.1em;  /* Align system links with breadcrumb */
}

#gsSidebar {
    background-color: #fc6;
}

#gsSidebar div ul {   /* no > in IE */
    font-size: 1.1em;
}
#gsSidebar div ul ul { font-size: 1.0em; }

#gsSidebar ul span {
    color: #666;
}

#gsContent {
    background-color: #eee;
}

#giFormUsername, .giFormUsername {
    background: url('../matrix/images/userinfo.png') no-repeat 0 1px;
    padding-left: 17px;
}

#giFormGroupname {
    background: url('../matrix/images/groupinfo.png') no-repeat 0 1px;
    padding-left: 17px;
}

#giFormPassword {
    background: url('images/key7-16-bw.gif') no-repeat 0 1px;
    padding-left: 17px;
}

#gallery .giAlbumCell {
    background-color: transparent;
}

#gsComments, #gsCustomFields, #gsExif {
    border: 1px dotted #ddd;
}

