<div class="success">
    <h1><?php print _("Gallery Database Backup successful.") ?></h1>

    <p>
      <?php print _("We've successfully backed up the data in your Gallery database.") ?>
    </p>
    <?php if (!empty($templateData['backupWarnings'])): ?>
	<p>
	    <?php print _("The following warnings were produced during the backup process:") ?>
	</p>
	<?php foreach ($templateData['backupWarnings'] as $warning): ?>
	    <?php print $warning ?> <br/>
	<?php endforeach; ?>	    
    <?php endif; ?>

    <p>
      <?php printf(_('Your backup is contained in the file %s'), $templateData['backupFileName']) ?>
    </p>
</div>
    
