<?php if (isset($templateData['MainPage']['showHeader'])): ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title> <?php print _('Welcome to the Gallery Upgrader') ?> </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="styles/style.css"/>
  </head>

  <body>
    <div id="box">
      <div id="header">
	<img src="images/g2Logo_upgrade_head.png" alt="Gallery Upgrader"/>
      </div>
      <div id="navbar">
	<h2><?php print _('Upgrade Steps') ?></h2>
	<ol>
	  <?php for ($i = 0; $i < sizeof($steps); $i++): ?>
	  <li class="navitem">
	    <span class="nav_num">
	      <?php if ($i <= $currentStep->getStepNumber() && ($steps[$i]->isComplete() || $steps[$i]->isOptional())): ?>
	      <span class="success">&radic;</span>
	      <?php elseif ($steps[$i]->isInError()): ?>
	      <span class="error">&#10007;</span>
	      <?php else: ?>
	      <?php print $i?>
	      <?php endif; ?>
	    </span>

	    <span class="nav_text">
	      <?php
	      if ($i == 0 ||
                  ($i <= $currentStep->getStepNumber()+1 &&
                   ($steps[$i-1]->isComplete() ||
                    $steps[$i-1]->isOptional()))) {
	          $linkable = true;
	      } else {
	          $linkable = false;
	      }
	      ?>
	      <?php if ($linkable): ?>
	      <a href="index.php?step=<?php print $i?>">
		<?php endif; ?>
		<?php print $steps[$i]->stepName(); ?>
		<?php if ($linkable): ?>
	      </a>
	      <?php endif; ?>
	    </span>
	  </li>
	  <?php endfor; ?>
	</ol>
	<ul>
	  <li><span class="helpBox">?</span><a href="../README.html" target="_blank"><?php print _('Upgrader Help'); ?></a>
          </li>
	  <li><span class="helpBox">X</span><a href="index.php?startOver=1"><?php print _('Start Over'); ?></a></li>
	</ul>
      </div>
      <div id="main">
<?php endif; ?>
<?php if (isset($templateData['MainPage']['showStatusBlock'])): ?>
<script type="text/javascript">
  // <![CDATA[
  function updateStatus(title, description, percentComplete) {
    document.getElementById('MainPageStatus_title').innerHTML = title;
    document.getElementById('MainPageStatus_description').innerHTML = description;

    var progressMade = Math.round(percentComplete * 100);
    var progressToGo = document.getElementById('MainPageStatus_progressToGo');

    if (progressMade == 100) {
      progressToGo.style.display = 'none';
    } else {
      progressToGo.style.display = 'inline-block';
      progressToGo.style.width = (100 - progressMade) + "%";
    }

    document.getElementById('MainPageStatus_progressMade').style.width = progressMade + "%"
  }
  // ]]>
</script>

<div id="MainPageStatus_statusBlock">
  <p>
    <h3> <span id="MainPageStatus_title">&nbsp;</span> </h3>
  </p>

  <p>
    <h4> <span id="MainPageStatus_description">&nbsp;</span> </h4>
  </p>

  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td id="MainPageStatus_progressMade" class="progressMade" style="width:0%">&nbsp;</td>
      <td id="MainPageStatus_progressToGo" class="progressToGo" style="width:100%; border-left: none')">&nbsp;</td>
    </tr>
  </table>
</div>
<?php endif; ?>

<?php if (isset($templateData['MainPage']['hideStatusBlock'])): ?>
<script type="text/javascript">document.getElementById("MainPageStatus_statusBlock").style.display="none"</script>
<?php endif; ?>

<?php if (isset($templateData['MainPage']['showStatus'])): ?>
<script type="text/javascript">updateStatus(<?php printf('"%s", "%s", %0.3F', $templateData['MainPage']['status']['title'], $templateData['MainPage']['status']['description'], $templateData['MainPage']['status']['percentComplete']); ?>)</script>
<?php endif; ?>

<?php if (isset($templateData['MainPage']['showBodyAndFooter'])): ?>
	<?php if (!empty($templateData['errors'])): ?>
	<h2 class="error">
	  <?php foreach ($templateData['errors'] as $error): ?>
	  <?php print $error ?> <br />
	  <?php endforeach; ?>
	</h2>
	<?php endif; ?>

	<?php if (!empty($templateData['warnings'])): ?>
	<h2 class="warning">
	  <?php foreach ($templateData['warnings'] as $warning): ?>
	  <?php print $warning ?> <br />
	  <?php endforeach; ?>
	</h2>
	<?php endif; ?>

	<?php include(dirname(__FILE__) . '/' . $templateData['bodyFile']); ?>

	<?php if ($currentStep->isComplete() && !$currentStep->isLastStep()): ?>
	<div class="go">
	  <?php if ($currentStep->isRedoable()): ?>
	  <span class="goToNext">
	    <a href="index.php?step=<?php print $stepNumber?>&amp;doOver=1">
	      <?php print _('Redo this step'); ?>
	    </a>
	  </span>
	  <?php endif; ?>

	  <?php $nextStep = $stepNumber + 1 ?>
	  <span class="goToNext<?php if ($currentStep->isRedoable()) print 'L' ?>">
	    <a href="index.php?step=<?php print $nextStep?>">
	      <?php printf(_('Continue to Step %d&raquo;'), $nextStep); ?>
	    </a>
	  </span>
	</div>
	<?php endif; ?>
      </div>

      <div id="bottom">
	<table class="statusTable" cellspacing="0">
	  <tr>
	    <td colspan="2">
	      <h4><?php print _('Upgrade Status'); ?></h4>
	    </td>
	  </tr>

	  <tr>
	    <?php if ($templateData['percentComplete'] != 0): ?>
	    <td class="progressMade" style="width:<?php print $templateData['percentComplete'] ?>%">&nbsp;</td>
	    <?php endif; ?>

	    <?php if ($templateData['percentComplete'] != 100): ?>
	    <td class="progressToGo" style="width:<?php print (100 - $templateData['percentComplete']) . '%' . (($templateData['percentComplete'] == 0) ? '' : ';border-left:none') ?>">&nbsp;</td>
	    <?php endif; ?>
	  </tr>
	  <tr>
	    <td <?php print ($templateData['percentComplete'] != 0 && $templateData['percentComplete'] != 100) ? 'colspan="2"' : '';?> >
	      <span class="statusLine">
		<?php printf(_('Upgrade %d%% complete'), $templateData['percentComplete']) ?>
	      </span>
	    </td>
	  </tr>
	</table>
      </div>
    </div>
    <div id="footer">
      <?php print _('Gallery: <strong>your photos</strong> on <strong>your website</strong>') ?>
      &raquo; <a target="_blank" href="http://gallery.sourceforge.net/">gallery.sourceforge.net</a>
    </div>
  </body>
</html>
<?php endif; ?>
