
td.giAlbumCell, td.giItemCell {
    padding: 1em;
    text-align: center;
    width: 1%;
}

#gallery td.giAlbumCell select, #gallery td.giItemCell select {
    margin-top: 0.8em;
}

/* So imageframed thumbs can be centered */
td.giAlbumCell table, td.giItemCell table {
    margin: auto;
}

#gsPages span {
    padding: 0 0.3em;
}

#gallery #gsSidebar ul {
    font-size: 1em;
}

#gallery td.tree ul {
    list-style-type: none;
    margin: 0 0 0 8px;
    padding: 0;
}

#gallery td.tree li {
    padding: 0;
}

